<%- include('partials/header') -%>

<main>
  <section class="container">
    <div class="home-sec flex justify-between">
      <figure class="flex-45">
        <img src="/images/home.jpg" alt="Event">
      </figure>
      <div class="home-col flex-45">
        <h2>Welcome To Event Manager</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aspernatur inventore, necessitatibus distinctio alias sequi repellat tempore hic facere velit. Qui, sunt at? Assumenda unde voluptate nam eum. Laudantium, provident.</p>
      </div>
    </div>
  </section>
</main>
